# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/icon.png

# gradle
build
.gradle

# other
eclipse
run
runs
run-server

# Files from Forge MDK
forge*changelog.txt
